* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information {
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-group button {
  margin-right: 20px;
  height: 30px;
  width: 60px;
  font-size: 16px;
}

.board {
  margin-top: 30px;
  width: 40%;
  height: auto;
}

table {
  border-collapse: collapse;
}

table,
td {
  border: 1px solid black;
}

tr {
  height: 50px;
}

td {
  width: 10%;
}

.black {
  background-color: black;
}

.white {
  background-color: #fff;
}
